:root {
    --font-raleway: "Relaway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;

    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey: #A5A5A5;
    --color-grey-border: #E8E9ED;
    --color-light-grey: #F7F7F7;

}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-open-sans);
}

a {
    text-decoration: none;
}

h2 {
    font-family: var(--font-raleway);
    font-size: 2.25rem;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

/*
* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

.container {
    max-width: 1352px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
*/


/*------------------HEADER------------------*/
header {
    height: 70px;
    box-shadow: 0px 3px 6px #00000029;

}

.header-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-size: 32px;
    color: var(--color-primary);
}

.header-nav-nav {
    display: flex;
}

/*
.header-nav-nav li {
    font-size: 11px;
    font-family: var(--font-open-sans);
    font-weight: bold;
    text-transform: uppercase;
}
*/

.header-nav-nav a {
    padding: 26px;
    margin-left: 30px;
    color: var(--color-grey);
    letter-spacing: 3.3px;

    font-size: 11px;
    font-family: var(--font-open-sans);
    font-weight: bold;
    text-transform: uppercase;
}

.header-nav-nav a:hover {
    color: var(--color-black);
    border-bottom: var(--color-primary) 3px solid;

}

/*
.header-navigation li {
    display: inline-block;
    text-align: center;
    padding: 26px;
    border: black solid 1px;
    margin: 0;
}

.header-navigation a {
    padding: 26px;
    font-size: 11px;
    font-family: var(--font-open-sans);
    font-weight: bold;
    color: var(--color-black);
    text-transform: uppercase;
}

.header-navigation a:hover {
    color: var(--color-black);
    border-color: var(--color-primary);
}
    /*


/*---------------MAIN - Section 1------------ */
.section-1-containe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-1-containe h1 {
    font-family: var(--font-raleway);
    font-size: 49px;
    color: var(--color-black);
    margin-top: 130px;
}

.section-1-containe p {
    font-family: var(--font-open-sans);
    font-size: 16px;
    color: var(--color-black);
    margin-top: 20px;
}

.section-1-btn {
    margin-top: 38px;
    border-radius:40px;
    border: none;
    background-color: var(--color-primary);
    padding: 22px 157px;
    font-family:  var(--font-open-sans);
    color: var(--color-white);
}

.section-1 img {
    width: 100%;
    /*height: auto;*/
}


/* ------------MAIN - Section 2 ----------*/
.section-2-containe {
    display: flex; 
    flex-direction: column;
   margin-bottom: 100px;
}

.section-2-containe-column {
    display: flex;
    justify-content: space-around;
}

.section-2-containe h2 {
    font-family: var(--font-raleway);
    font-size: 36px;
    margin: 100px 0;
    text-align: center;
}

.section-2-containe-column-1 p:nth-of-type(1),
.section-2-containe-column-2 p:nth-of-type(1),
.section-2-containe-column-3 p:nth-of-type(1) {
    font-family: var(--font-raleway);
    font-size: 20px;
    color: var(--color-black);
    margin: 13px 0 19px 0;
    text-align: center;
    letter-spacing: 6px;
    font-weight:900;
}

.section-2-containe-column-2 p:nth-of-type(1) {
    margin-top: 27px;
}

.section-2-containe-column-1 p:nth-of-type(2),
.section-2-containe-column-2 p:nth-of-type(2),
.section-2-containe-column-3 p:nth-of-type(2) {
    font-family: var(--font-raleway);
    font-size: 17px;
    color: var(--color-grey); 
    flex-grow: 1;
}

.section-2-containe-column-1,
.section-2-containe-column-2,
.section-2-containe-column-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
} 


/* ----------MAIN - Section 2 - Column 1 ---------*/
.section-2-containe-column-1::after {
    content: "";
    position: absolute;
    width: 63px;
    height: 63px;
    top: -6px;
    left: 30px;
    border: none;
    border-radius: 50%;
    background-color: var(--color-redish);
}

.section-2-containe-column-1 img {
    position: relative;
    left: 10px;
    z-index: 1;
}


/* ----------MAIN - Section 2 - Column 2 ---------*/
.section-2-containe-column-2::after {
    content: "";
    position: absolute;
    width: 63px;
    height: 63px;
    top: -6px;
    left: 54px;
    border: none;
    border-radius: 50%;
    background-color: var(--color-primary);
}


.section-2-containe-column-2 img {
    position: relative;
    left: 16px;
    top: 9px;
    z-index: 1;
}


/* ----------MAIN - Section 2 - Column 3 ---------*/
.section-2-containe-column-3::after {
    content: "";
    position: absolute;
    width: 63px;
    height: 63px;
    top: -6px;
    left: 25px;
    border: none;
    border-radius: 50%;
    background-color: var(--color-green);
}

.section-2-containe-column-3 img {
    position: relative;
    left: 18px;
    z-index: 1;
}




          
/* --------------MAIN - Section 3 -------------*/
.section-3 {
    background-color: var(--color-light-grey);
    padding: 105px;
}

     
/*----------MAIN - Section 3 - 1 row-----------*/
.section-3-contain-1 {
    display: flex;
    /*justify-content: space-between;*/
    background-color: var(--color-white);
    border-radius: 5px; 
}

.section-3-contain-1-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 91px 35px 91px 35px;
}

.section-3-contain-1-text h2 {
    font-family: var(--color-black);
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 30px;
}

.section-3-contain-1-text p {
    font-family: var(--color-black);
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 50px;
    border-bottom: 5px solid var(--color-redish);
    width: 416px;

}

.section-3-contain-1-img {
    position:relative;
    /*display: block;*/
    /*padding: 38px 71px;*/
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-3-contain-1-img::before {
    content: "";
    display: block;
    position: absolute;
    width: 180px;
    height: 180px;
    top: 40px;
    left: 330px;
    border: none;
    border-radius: 41px;
    background-color: var(--color-redish);
    transform: rotate(45deg);

}

.section-3-contain-1-img img {
    position: relative;
    /*z-index: 1;*/
    width: 386px;
    height: auto;
}


/*----------MAIN - Section 3 - 2 row-----------*/
.section-3-contain-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
    background-color: var(--color-white);
    border-radius: 5px; 
    /*position: relative;*/
}

.section-3-contain-2-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px 20px 70px 20px;
}

.section-3-contain-2-text h2 {
    font-family: var(--color-black);
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 30px;
}

.section-3-contain-2-text p {
    font-family: var(--color-black);
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 50px;
    border-bottom: 5px solid var(--color-primary);
    width: 416px;
}

.section-3-contain-2-img {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.section-3-contain-2-img::before {
    content: "";
    position: absolute;
    display: block;

    width: 320px;
    height: 320px;
    top: 20px;
    left: 100px;
    border: none;
    border-radius: 50%;
    background-color: var(--color-primary);
}

.section-3-contain-2-img img {
    position: relative;
    z-index: 1;
    width: 426px;
    height: auto;
}


/*----------MAIN - Section 3 - 3 row-----------*/
.section-3-container {
    width: 1124px;
}


.section-3-contain-3 {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.section-3-contain-3-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    background-color: var(--color-white);
    padding: 70px 35px 70px 35px; 
    margin-top: 37px;  
}

.section-3-contain-3-text h2 {
    font-family: var(--color-black);
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 30px;
    width: 420px;
}

.section-3-contain-3-text p {
    font-family: var(--color-black);
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 50px;
    border-bottom: 5px solid var(--color-green);
    width: 553px;
}

.section-3-contain-3-img {
    position: relative;
    background-color: var(--color-green);
    border-radius: 4px;
    margin-top: 38px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-3-contain-3-img img {
    position: relative;
    width: 426px;
    height: auto;
    top: 41px;
    left: -24px;
}



/*------------MAIN - Section 4 (Pricing)-------*/
.section-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-4-a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1266px;
    margin: 100px 180px 0 180px;
}

.section-4-a-boxes {
   display: flex;
   justify-content: space-between;
   align-items: center;
}


/*------------MAIN - Section 4a - 1. box-------*/
.section-4-a h2 {
    text-align: center;
    /*margin-bottom: 50px; lepší bude nastavit u jednotlivých boxů*/
    font-size: 36px;
    font-family: var(--font-raleway);

}

.section-4-a-boxes {
    margin-top: 71px;
}

.section-4-a-box-1 {
   text-align: center; 
   border: var(--color-redish) 1px solid;
   border-radius: 18px;
   height: 461px;
   width:372px;
}

.section-4-a-box-1 h3 {
    font-family: var(--font-raleway);
    font-size: 20px;
    margin-top: 51px;
    margin-bottom: 14px;
    font-weight: bolder;
}

.section-4-a-box-1 {
    position: relative;
}

.section-4-a-box-1 strong {
    display: inline-block;
    font-family: var(--font-open-sans);
    font-size: 46px;
    color: var(--color-redish);
    padding-bottom: 69px;
}

.section-4-a-box-1 ul {
    margin: 0 100px 0 100px;
}

.section-4-a-box-1 li {
    display: block;
    list-style: none;
    margin-bottom: 20px;
    position: relative;
}

/*
.section-4-a-box-1 li:last-of-type {
    margin-bottom: 0;
}

.img-1 {
    position: absolute;
    top:2px;
    left: 0;
}

.li-2 img {}

*/



/*
.section-4-a-box-1 li img:nth-of-type(1) {
    position: absolute;
    top:2px;
    left: 0;
}

.section-4-a-box-1 li img:nth-of-type(2) {
    position: absolute;
    top: 2px;
    left: 2px;

}
*/


/*
.section-4-a-box-1 li:nth-of-type(1),
.section-4-a-box-1 li:nth-of-type(2),
.section-4-a-box-1 li:nth-of-type(3) {
    display: block;
    background-image: url(../assets/Checkmark-2.svg);
    /*width: 11px;
    height: 11px;
    /*position: absolute;
}*/






/*
section-4-a-button-1 {
    background-color: var(--color-redish);
    border-radius: 23px;
    padding: 16px 57px;
    margin-top: 55px;
    display: inline-block;
}
*/

.section-4-a-button-1 {
    background-color: var(--color-redish);
    border-radius: 23px;
    padding: 16px 57px;
    position: absolute;
    top: calc(461px - 24px);
    left: calc(186px - 77.5px);
    font-family:  var(--font-open-sans);
    font-size: 13px;
    color: var(--color-white);
    font-weight: bold;
}


/*------------MAIN - Section 4a - 2. box-------*/
.section-4-a-box-2 {
    text-align: center;
    border: var(--color-primary) 1px solid;
    border-radius: 18px;
    box-shadow: 5px 10px 27px #07ACE629;
    height: 500px;
    width: 405px;
    position: relative;
}

.section-4-a-box-2 h3 {
    font-size: 21px;
    font-family:  var(--font-raleway);
    font-weight: bolder;
    margin-top: 34px;
    margin-bottom: 14px;
    margin-top: 34px;
}

.section-4-a-box-2 strong {
    display: inline-block;
    font-family: var(--font-open-sans);
    font-size: 46px;
    color: var(--color-primary);
    padding-bottom: 20px;
}

.section-4-a-box-2 p {
    font-size: 12px;
    color: var(--color-black);
    font-family:  var(--font-raleway);
    font-weight: bolder;
    display: block;
    margin-bottom: 61px;
}

.section-4-a-box-2 li {
    display: block;
    list-style: none;
    margin-bottom: 26px;
    position: relative;
}

.section-4-a-bottno-2 {
    background-color: var(--color-primary);
    border-radius: 23px;
    padding: 16px 57px;
    position: absolute;
    font-family:  var(--font-open-sans);
    font-size: 13px;
    color: var(--color-white);
    font-weight: bold;
    top: calc(500px - 22.5px);
    left: calc(192.5px - 75px);
    margin-bottom: 120px;

}





/*------------MAIN - Section 4a - 3. box-------*/

.section-4-a-box-3 {
    position: relative;
    text-align: center;
    border: var(--color-green) 1px solid;
    border-radius: 18px;
    box-shadow: 5px 10px 27px #07ACE629;
    height: 461px;
    width: 372px;
}

.section-4-a-box-3 h3 {
    font-size: 21px;
    font-family:  var(--font-raleway);
    font-weight: bolder;
    margin-top: 34px;
    margin-bottom: 14px;
    margin-top: 34px;
}

.section-4-a-box-3 strong {
    display: inline-block;
    font-family: var(--font-open-sans);
    font-size: 46px;
    color: var(--color-green);
    padding-bottom: 20px;
}

.section-4-a-box-3 p {
    font-size: 12px;
    color: var(--color-black);
    font-family:  var(--font-raleway);
    font-weight: bolder;
    display: block;
    margin-bottom: 61px;
}

.section-4-a-box-3 li {
    display: block;
    list-style: none;
    margin-bottom: 20px;
    position: relative;
}

.section-4-a-bottno-3 {
    position: absolute;
    background-color: var(--color-green);
    border-radius: 23px;
    padding: 16px 57px;
    font-family:  var(--font-open-sans);
    font-size: 13px;
    color: var(--color-white);
    font-weight: bold;
    top: calc(461px - 22.5px);
    left: calc(186px - 75px);

}

/*------------MAIN - Section 4a - 3. box-------*/
.section-4-b {
 padding-top: 100px;
}