:root {
    --font-raleway: "Relaway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;

    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey: #A5A5A5;
    --color-grey-border: #E8E9ED;
    --color-light-grey: #F7F7F7;

}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-open-sans);
}

a {
    text-decoration: none;
}

h2 {
    font-family: var(--font-raleway);
    font-size: 2.25rem;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

/*
* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

.container {
    max-width: 1352px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
*/


/*------------------HEADER------------------*/
header {
    height: 70px;
    box-shadow: 0px 3px 6px #00000029;

}

.header-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-size: 32px;
    color: var(--color-primary);
}

.header-nav-nav {
    display: flex;
}

/*
.header-nav-nav li {
    font-size: 11px;
    font-family: var(--font-open-sans);
    font-weight: bold;
    text-transform: uppercase;
}
*/

.header-nav-nav a {
    padding: 26px;
    margin-left: 30px;
    color: var(--color-grey);
    letter-spacing: 3.3px;

    font-size: 11px;
    font-family: var(--font-open-sans);
    font-weight: bold;
    text-transform: uppercase;
}

.header-nav-nav a:hover {
    color: var(--color-black);
    border-bottom: var(--color-primary) 3px solid;

}

/*
.header-navigation li {
    display: inline-block;
    text-align: center;
    padding: 26px;
    border: black solid 1px;
    margin: 0;
}

.header-navigation a {
    padding: 26px;
    font-size: 11px;
    font-family: var(--font-open-sans);
    font-weight: bold;
    color: var(--color-black);
    text-transform: uppercase;
}

.header-navigation a:hover {
    color: var(--color-black);
    border-color: var(--color-primary);
}
    /*


/*---------------MAIN - Section 1------------ */
.section-1-containe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-1-containe h1 {
    font-family: var(--font-raleway);
    font-size: 49px;
    color: var(--color-black);
    margin-top: 130px;
}

.section-1-containe p {
    font-family: var(--font-open-sans);
    font-size: 16px;
    color: var(--color-black);
    margin-top: 20px;
}

.section-1-btn {
    margin-top: 38px;
    border-radius:40px;
    border: none;
    background-color: var(--color-primary);
    padding: 22px 157px;
    font-family:  var(--font-open-sans);
    color: var(--color-white);
}

.section-1 img {
    width: 100%;
    /*height: auto;*/
}


/* ------------MAIN - Section 2 ----------*/
.section-2-containe {
    display: flex; 
    flex-direction: column;
   margin-bottom: 100px;
}

.section-2-containe-column {
    display: flex;
    justify-content: space-around;
}

.section-2-containe h2 {
    font-family: var(--font-raleway);
    font-size: 36px;
    margin: 100px 0;
    text-align: center;
}

.section-2-containe-column-1 p:nth-of-type(1),
.section-2-containe-column-2 p:nth-of-type(1),
.section-2-containe-column-3 p:nth-of-type(1) {
    font-family: var(--font-raleway);
    font-size: 20px;
    color: var(--color-black);
    margin: 13px 0 19px 0;
    text-align: center;
    letter-spacing: 6px;
    font-weight:900;
}

.section-2-containe-column-2 p:nth-of-type(1) {
    margin-top: 27px;
}

.section-2-containe-column-1 p:nth-of-type(2),
.section-2-containe-column-2 p:nth-of-type(2),
.section-2-containe-column-3 p:nth-of-type(2) {
    font-family: var(--font-raleway);
    font-size: 17px;
    color: var(--color-grey); 
    flex-grow: 1;
}

.section-2-containe-column-1,
.section-2-containe-column-2,
.section-2-containe-column-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
} 


/* ----------MAIN - Section 2 - Column 1 ---------*/
.section-2-containe-column-1::after {
    content: "";
    position: absolute;
    width: 63px;
    height: 63px;
    top: -6px;
    left: 30px;
    border: none;
    border-radius: 50%;
    background-color: var(--color-redish);
}

.section-2-containe-column-1 img {
    position: relative;
    left: 10px;
    z-index: 1;
}


/* ----------MAIN - Section 2 - Column 2 ---------*/
.section-2-containe-column-2::after {
    content: "";
    position: absolute;
    width: 63px;
    height: 63px;
    top: -6px;
    left: 54px;
    border: none;
    border-radius: 50%;
    background-color: var(--color-primary);
}


.section-2-containe-column-2 img {
    position: relative;
    left: 16px;
    top: 9px;
    z-index: 1;
}


/* ----------MAIN - Section 2 - Column 3 ---------*/
.section-2-containe-column-3::after {
    content: "";
    position: absolute;
    width: 63px;
    height: 63px;
    top: -6px;
    left: 25px;
    border: none;
    border-radius: 50%;
    background-color: var(--color-green);
}

.section-2-containe-column-3 img {
    position: relative;
    left: 18px;
    z-index: 1;
}




          
/* --------------MAIN - Section 3 -------------*/
.section-3 {
    background-color: var(--color-light-grey);
    padding: 105px;
}

     
/*----------MAIN - Section 3 - 1 row-----------*/
.section-3-contain-1 {
    display: flex;
    /*justify-content: space-between;*/
    background-color: var(--color-white);
    border-radius: 5px; 
}

.section-3-contain-1-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 91px 35px 91px 35px;
}

.section-3-contain-1-text h2 {
    font-family: var(--color-black);
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 30px;
}

.section-3-contain-1-text p {
    font-family: var(--color-black);
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 50px;
    border-bottom: 5px solid var(--color-redish);
    width: 416px;

}

.section-3-contain-1-img {
    position:relative;
    /*display: block;*/
    /*padding: 38px 71px;*/

    margin-right: 117px;
    margin-bottom: 38px;
}

.section-3-contain-1-img::before {
    content: "";
    display: block;
    position: absolute;
    width: 180px;
    height: 180px;
    top: 65px;
    left: 586px;
    border: none;
    border-radius: 41px;
    background-color: var(--color-redish);
    transform: rotate(45deg);

}

.section-3-contain-1-img img {
    position: relative;
    /*z-index: 1;*/
    width: 386px;
    height: auto;
    top: 115px;
    left: 370px;
}


/*----------MAIN - Section 3 - 2 row-----------*/
.section-3-contain-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
    background-color: var(--color-white);
    border-radius: 5px; 
    /*position: relative;*/
}

.section-3-contain-2-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px 20px 70px 20px;
}

.section-3-contain-2-text h2 {
    font-family: var(--color-black);
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 30px;
}

.section-3-contain-2-text p {
    font-family: var(--color-black);
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 50px;
    border-bottom: 5px solid var(--color-primary);
    width: 416px;
}

.section-3-contain-2-img {
    position:relative;
}

.section-3-contain-2-img::before {
    content: "";
    position: absolute;
    display: block;

    width: 320px;
    height: 320px;
    top: 20px;
    left: 130px;
    border: none;
    border-radius: 50%;
    background-color: var(--color-primary);
}


.section-3-contain-2-img img {
    position: relative;
    z-index: 1;
    width: 426px;
    height: auto;
    top: 28px;
    left: 140px;
}


/*----------MAIN - Section 3 - 3 row-----------*/

.section-3-contain-3 {
    display: flex;
    justify-content: space-between;
}

.section-3-contain-3-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    background-color: var(--color-white);
    padding: 70px 35px 70px 35px; 
    margin-top: 37px;  
}

.section-3-contain-3-text h2 {
    font-family: var(--color-black);
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 30px;
    width: 420px;
}

.section-3-contain-3-text p {
    font-family: var(--color-black);
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 50px;
    border-bottom: 5px solid var(--color-green);
    width: 553px;
    /*margin-right: 30px;*/
}

.section-3-contain-3-img {
    position: relative;
    background-color: var(--color-green);
    border-radius: 4px;
    margin-top: 38px;
    /*padding-left: 150px;*/
    width: 440px;  
}

.section-3-contain-3-img img {
    position: relative;
    width: 426px;
    height: auto;
    top: 70px;
    left: -24px;
}



/*------------MAIN - Section 4 (Pricing)-------*/

.section-4-a {
    width: 1266px;
    width: 100%;
    margin: 100px 180px 0 180px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;

}



.section-4-a-boxes {
   display: flex;
   justify-content: space-between;
   align-items: center;
    
}

